  *{
    box-sizing: border-box;
margin: 0;
padding: 0
;}
  
div.container{
border: 10px solid black;
width: 97%;
margin: 0 auto 0 auto;

}

header{
background-color: azure;
}  
aside image{
width: 100%;
}
aside{
display: flex;
justify-content: space-between;
}
nav{
  background-color: cornflowerblue;
}
ul{
  text-align: center;
}
li{
  display: inline-block;
  width: 150px;
  border: 2px solid white;
  line-height: 3em; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-variant: small-caps;
  
}
a{
  color: aliceblue;
  text-decoration: none;
  border: 1px solid yellow;
  display: block;
}